<ion-list>
  <ion-item button="true" lines="full" (click)="onRestartGameClick()">Restart game</ion-item>
  <ion-item button="true" lines="full" (click)="onResetBestTimeClick()">Reset best time</ion-item>
</ion-list>
