<ion-app>

  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <div class="container">
        <span class="time left">Time: <span class="value">{{timeService.CurrentTimeStr}}</span></span>
        <span class="time right">Best: <span class="value">{{timeService.CurrentBestTimeStr}}</span></span>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content [scrollX]="false" [scrollY]="false">
      <!-- Grid -->
      <ion-grid class="container">
        <ion-row *ngFor="let row of grid; let rowIndex = index" [attr.data-index]="rowIndex">
          <ion-col *ngFor="let card of row; let colIndex = index" [attr.data-index]="colIndex">
            <!-- None type card-->
            <ng-template [ngIf]="card.type == CardType.None" [ngIfElse]="displayCard">
              <div class="card">
                <div class="card-none"></div>
              </div>
            </ng-template>
            <!-- Card -->
            <ng-template #displayCard>
              <div class="card" [ngClass]="{ 'hide-card': card.state == CardState.Hidden }" (click)="onCardClick(card)">
                <div class="card-inner" [ngClass]="{ 'show-front': card.state == CardState.Front, 'show-back': card.state == CardState.Back, 'hide-inner': card.state == CardState.Hidden }">
                  <!-- Back -->
                  <div class="card-back">
                    <div class="card-content"></div>
                  </div>
                  <!-- Front -->
                  <div class="card-front" [ngSwitch]="card.type">
                    <!-- Image type -->
                    <ng-container *ngSwitchCase="CardType.Image">
                      <div class="card-content image" [style.background-image]="getCardImageUrl(card)"></div>
                    </ng-container>
                    <!-- Character type -->
                    <ng-container *ngSwitchCase="CardType.Character">
                      <div class="card-content character">
                        <svg height="100%" width="100%" viewBox="0 -75 100 100" preserveAspectRatio="xMidYMid">
                          <text x="50%" y="0" [attr.fill]="(card.options && card.options.textColor) ? card.options.textColor : '#333'">{{card.content}}</text>
                        </svg>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar>
      <div class="container" style="display: flex">
        <ion-buttons slot="start">
          <ion-button (click)="onBackClick()">
            <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{CardTheme.titleShort}} | {{GridExtent.rows}}&times;{{GridExtent.cols}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onMenuClick()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>