ion-content {
  --background: #5b63e9;
  --background: linear-gradient(-45deg, #9700e2, #5b63e9, #00dde7);
}

ion-toolbar {
  .time {
    color: #0ef;
    &.left {
      float: left;
      padding-left: 10px;
    }
    &.right {
      float: right;
      padding-right: 10px;
    }
    .value {
      color: #eee;
    }
  }
}

ion-grid {
  display: flex;
  flex-flow: column;
  height: 100%;
  --ion-grid-padding: 6px;

  ion-row {
    flex-grow: 1;
  }

  ion-col {
    --ion-grid-column-padding: 6px;
  }

  .card {
    height: 100%;
    width: 100%;
    perspective: 1000px;

    &.hide-card {
      animation: fade-out 0.5s linear;
      animation-fill-mode: forwards;
    }

    .card-inner {
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0,0,0,0.2);
      height: 100%;  /* this is important */
      position: relative;
      transform-style: preserve-3d;
      width: 100%;

      &.show-front {
        animation: flip-front 0.3s linear;
        animation-fill-mode: forwards;
      }

      &.show-back {
        animation: flip-back 0.3s linear;
        animation-fill-mode: forwards;
      }

      &.hide-inner {
        transform: rotateY(180deg);
      }

      .card-front,
      .card-back {
        backface-visibility: hidden;
        border-radius: 10px;
        display: table;
        height: 100%;
        position: absolute;
        width: 100%;

        .card-content {
          display: table-cell;
          height: 100%;
          text-align: center;
          vertical-align: middle;
          width: 100%;
        }
      }

      .card-front {
        background: #fff;
        color: #444;
        transform: rotateY(180deg);

        .card-content {
          &.image {
            border: 8px solid #fff;
            border-radius: 10px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          &.character {
            svg {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              text {
                font-family: "Delius", "Roboto", "Helvetica Neue", sans-serif;
                font-size: 68px;
                text-anchor: middle;
                text-transform: initial;
              }
            }
          }
        }
      }

      .card-back {
        background: url('/assets/images/misc/logo.png'), url('/assets/images/misc/bg.png');
        background-color: #222;
        background-position: center center;
        background-repeat: no-repeat, repeat;
        background-size: contain, auto;
        background-origin: padding-box;
        border: 5px solid #eee;
      }
    }

    .card-none {
      background: repeating-linear-gradient(
        -45deg,
        rgba(255,255,255,0.25),
        rgba(255,255,255,0.25) 10px,
        rgba(0,0,0,0) 10px,
        rgba(0,0,0,0) 20px
      );
      border-radius: 10px;
      height: 100%;
      position: relative;
      width: 100%;
    }
  }
}

@keyframes flip-front {
  from { transform: rotateY(0); }
  to { transform: rotateY(180deg); }
}

@keyframes flip-back {
  from { transform: rotateY(180deg); }
  to { transform: rotateY(360deg); }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
