ion-content {
  --background: #5b63e9;
  --background: linear-gradient(-45deg, #9700e2, #5b63e9, #00dde7);

  .train {
    display: block;
    margin: 30px auto;
    max-width: 36%;
    height: auto;
  }
  h5 {
    color: white;
    text-align: center;
  }
  h6  {
    color: #ffff64;
    margin-top: 10px;
    text-align: center;
  }
  #grid-extents {
    margin-bottom: 40px;
  }
}

ion-card {
  --background: #64ffff; //#fff;
  --color: #333;
  padding: 8px;

  ion-card-content {
    padding: 0;

    img {
      height: 120px;
      max-width: 120px;
      margin: 0 auto;
      width: auto !important;
      &.pixelated {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
      }
    }

    @media (max-width: 575px) {
      img {
        height: 64px;
        max-width: 64px;
      }

      .title {
        height: 64px;
        width: 64px;
        h2 {
          font-size: 12px;
        }
      }
    }
  }
}

ion-slides {
  border-bottom: 1px solid #64ffff;
  border-top: 1px solid #64ffff;
}

ion-slide {
  &.swiper-slide-active {
    ion-card {
      background-color: #fff;
    }
  }
}
