ion-content {
  --background: #41295a;
  --background: linear-gradient(-45deg, #2f0743, #41295a, #2f0743);
}

.completed {
	display: table;
	height: 100%;
	width: 100%;

	.completed-content {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;

	  h1 {
      color: #0ef;
      background: linear-gradient(to top, #0ef, #fff);
      background-clip: text;
      font-size: 36px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
	  }

	  h2 {
      font-size: 20px;
      &.time {
        border-bottom: 1px solid #64ffff;
        border-top: 1px solid #64ffff;
        color: #0ef;
        .value {
        color: #fff;
        }
      }
      &.best-time {
        animation: blinker 1.5s linear infinite;
        color: #ffff64;
        opacity: 0;
      }
    }

	  @media (min-width: 576px) {
      h1 {
        font-size: 52px;
      }
      h2 {
        font-size: 22px;
      }
    }

    @media (min-width: 992px) {
      h1 {
        font-size: 90px;
      }
      h2 {
        font-size: 32px;
      }
    }
	}
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}
