/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
	font-family: Audiowide;
	src: url('/assets/fonts/Audiowide-Regular.woff') format('woff');
}

@font-face {
	font-family: Delius;
	src: url('/assets/fonts/Delius-Regular.woff') format('woff');
}

body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	text-transform: uppercase;
}

.container {
	margin: auto;
	max-width: 800px;
}

ion-toolbar {
	--background: #4c3069;
	--background: linear-gradient(to right, #42275a, #4c3069, #42275a);
	--min-height: 48px;
	color: #fff;
	text-align: center;
}

ion-title {
	font-size: 18px;
}

ion-footer {
	ion-button,
	ion-title {
		font-size: 16px;
	}
}

.toast-custom {
	--background: #fff;
	color: #483D8B;
	text-align: center;
}

